.Intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Intro h1 {
  margin: 30px;
}
.Intro p {
  text-align: center;
  width: 500px;
}
.searchBar {
  min-width: 400px;
  margin-bottom: 20px;
  display: 'flex';
  border: 1px solid rgb(150, 32, 130);
  padding: '5px';
  border-radius: '10px';
}
