.twitte {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  margin: 25px;
  height: min-content;
  float: left;
  /* display: flex;
  flex-direction: row; */
}
.comment {
  float: right;
  display: flex;
  justify-content: flex-end;
}
